.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    background-color: #25273C;
}

.list {
    display: flex;
    width: 95%;
    align-items: center;
    margin-left: 0;
    padding: 10px;
    border-bottom: 1px solid #828282;
}

.list > .circle-icon {
    margin-left: 0;
    margin-right: 5px;
    color: #828282;
    cursor: pointer;
}

.list > .circle-icon-checked {
    margin-left: 0;
    margin-right: 5px;
    color: #839df4;
    cursor: pointer;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
  }

p {
       color: #B6B8CF;
       font-family: monospace;
       /* overflow-wrap: break-word; */
       cursor: pointer;
    }

.delete-btn {
    margin-left: auto;
    cursor: pointer;
}

.delete-btn > button {
    font-family: monospace;
    color: red;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}